{{ lookup('file', openssl_pki_certs_ca_root_dir+'/ca/'+openssl_pki_intermediate_ca_name+'/certs/'+openssl_pki_intermediate_ca_name+'.cert.pem') }}
{{ lookup('file', openssl_pki_certs_ca_root_dir+'/ca/certs/ca.cert.pem') }}
